<!DOCTYPE html>
<html>
  <%- include('../partials/head'); %>
  <body>
    <%- include('../partials/header') %>
    <h1 style="text-align: center"><%= title %></h1>
    <p style="text-align: center">Welcome to my EJS page!</p>
    <%- include('../partials/form') %>
  </body>
</html>
